@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap');

:root {
    --primary: #fe2c55;

    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizonal-spacer: 24px;
    --black: #000;
    --text-color: #333;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; //bổ sung phần thiết lập trước "cấu hình CSS/SASS
    //- gói gọn tổng kích thước các thành phần (content + padding + border..) bằng kích thước thiết lập
}

html {
    font-size: 62.5%;
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}

//custom tippy tooltip
body {
    .tippy-box {
        //đi qua body cho nó được ưu tiên hơn
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
        // background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
}

//fonts emmbedded
@font-face {
    font-family: ProximaNova;
    src: url('/asset/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('/asset/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/asset/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: SofiaPro;
    src: url('/asset/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
